img {
    max-width: 100%;
    height: auto;
}

.item {
    width: 180px;
    min-height: 120px;
    float: left;
    margin: 3px;
    padding: 3px;
}

.list-group hr {
    margin-left: 187px;
}

.restore-btn {
    position: absolute;
    right: 19px;
    top: 12px;
}

.profile-section {
    display: flex;
    justify-content: space-between;
}

.gradient-right {
    background: linear-gradient(to right, transparent, black);
    display: flex;
    justify-content: end;
}

.gradient-left {
    background: linear-gradient(to left, transparent, black);
    display: flex;
    justify-content: start;
}

.main-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.main-text {
    color: white;
}